body {
  font-family: 'Raleway', sans-serif;
}

.navbar {
  padding-top: 1.5rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-link {
  color: #000000 !important;
}

.nav-link:hover {
  color: #F8CF06 !important;
}

.bg-light {
  background-color: #FFFFFF !important;
}

input {
  border-radius: 100px !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.486);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

input:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-group>.custom-file:focus,
.input-group>.custom-select:focus,
.input-group>.form-control:focus {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.input-group-btn .btn {
  border-radius: 50px !important;
  padding: 5px 15px 5px 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.507), 0 3px 6px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.input-group-btn .btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.navbar .btn-default {
  background-color: #F8CF06;
}

.nav-item .fa {
  font-size: 20px;
}

.nav-item .fa:hover {
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#fa_icons {
  margin-right: 48px;
}

.nav-item .fa-shopping-cart {
  color: #F8CF06;
}

.nav-item .fa-heart {
  color: #F20E0E;
}

.badge-notify {
  background: #F20E0E;
  border-radius: 50px;
  position: relative;
  top: -18px;
  left: -9px;
  color: #fff;
}

.bd-heart {
  background: #F20E0E;
  border-radius: 50px;
  position: relative;
  top: -18px;
  left: -9px;
  color: #fff;
}

/* --------------------- 
HERO SECTION
--------------------- */

#hero {
  text-align: center;
  height: 560px;
  color: #fff;
  background: url(../img/bg.jpg) fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#hero h2 {
  font-family: 'Pacifico', cursive;
  transform: skewY(6deg);
  margin-top: 72px;
}

#hero h1 {
  font-weight: 800;
  font-size: 138px;
  text-transform: uppercase;
  text-shadow: 7px 9px 5px rgba(161, 19, 15, 0.294);
}

#hero a {
  text-decoration: none;
  color: #fff;
}

.btn-reverse {
  border: 2.5px solid #fff;
  color: #fff;
  border-radius: 0;
  transition: .5s ease-out;
  padding: 10px 40px;
  text-transform: uppercase;
}

.btn-reverse:hover {
  color: #fff;
  border-radius: 45px;
  transition: .5s ease-out;
}

#hero p {
  text-transform: uppercase;
}

#hero p {
  padding-top: 75px;
  color: #fff;
}

.redoverlay {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 24, 0, 0.75);
  position: relative;
}

/* media Queryies */
/* 
@media only screen and (max-width: 1024px) {
  #hero h1 {
    font-size: 115px;
  }
}

@media only screen and (max-width: 980px) {
  body {
    text-align: center;
  }

  #hero h1 {
    font-size: 110px;
  }
  .search-bar {
    max-width: 100% !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
}

@media only screen and (max-width: 800px) {
  #hero h1 {
     font-size: 95px;
  }
  #hero {
    height: 500px;
  }
  h3 {
    font-size: 16px;
    margin: 0px;
  }
  .btn-reverse {
    padding: 15px 50px;
  }
}

@media only screen and (max-width: 640px) {
  #hero {
    height: 360px;
  }
  #hero .container {
    padding-top: 30px;
  }
  #hero h1 {
     font-size: 75px;
  }
  .btn-reverse {
    padding: 10px 20px;
  }
}

@media only screen and (max-width: 480px) {
  #hero {
    height: 320px;
  }
  #hero h1 {
     font-size: 60px;
  }
}

@media only screen and (max-width: 360px) {
  #hero h1 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 320px) {
  #hero h1 {
    font-size: 40px;
  }
} */